body {
    background-color: #f1debd;
    font-family: "Noto Serif", serif;
}

.titulo-dash {
    font-size: 44px;
    font-weight: 600;
    color: #333e50;
}

.posts-title {
    background-color: #fff;
}

.titulo-posts {
    font-weight: 600;
    color: #fff;
    background-color: #333e50;
    padding: 20px;
}

.titulo-posts h2 {
    margin: 0;
    font-size: 40px;
}

.info-body {
    background-color: #f1debd;
}

.posts-body {
    padding: 32px 0 32px 0;
}

.card-body {
    background-color: #333e50;
    color: white;
    border-radius: 0 0 4px 4px;
}

.fixed-height-image {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.botao-posts {
    background-color: #d1d6da;
    color: black;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.botao-posts:hover {
    background-color: #acb2b6;
    color: black;
    transform: scale(1.1);
}

.botao-posts:active {
    background-color: #d1d6da;
    transform: scale(1);
}

.span-text {
    margin-left: 2px;
}