body {
    background-color: #f1debd;
    font-family: "Noto Serif", serif;
}

.imagem-principal {
    max-width: 320px;
    margin-right: 60px;
}

.slogan {
    margin-left: 60px;
    max-width: 520px;
}

.slogan h1 {
    font-size: 52px;
    font-weight: 600;
}

.slogan p {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
}

.secao-publicacoes {
    background-color: #333e50;
    padding: 28px 0;
}

.title-publicacoes {
    color: #f1debd;
    font-weight: 600;
    font-size: 44px;
}

.card-post {
    border: none;
    width: 20rem;
}

.card-body {
    flex-grow: 1;
    background-color: #fefefe;
}

.card-title, .card-text {
    text-align: left;
}

.fixed-height-image {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.botao-index {
    background-color: #333e50;
    color: white;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.botao-index:hover {
    background-color: #3f4c61;
    color: white !important;
    transform: scale(1.05);
}

.botao-index:active {
    background-color: #333e50 !important;
    color: white !important;
    transform: scale(1);
}

.span-text {
    margin-left: 2px;
}

.secao-sobre {
    text-align: justify;
}

.texto-sobre {
    max-width: 820px;
    margin-right: 0px;
}

.titulo-principal, .titulo-sobre {
    font-size: 44px;
    font-weight: 600;
    color: #333e50;
}
